---
import BaseHead from '../components/BaseHead.astro';
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <BaseHead title={'resume'} description={'resume'} />
  <meta name="robots" content="none">
</head>
<body>
  <main>
    <div class="prose">
      <slot />
    </div>
  </main>
</body>
</html>

<style>
  main {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
  }
  .prose {
    width: 1024px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
</style>